$shadow-s: 0px 3px 13px rgba(205, 205, 205, 0.5);
$shadow-m: 0px 2px 18px rgba(11, 20, 26, 0.05);
$shadow-l: 0px 4px 25px rgba(59, 49, 49, 0.07);
$shadow-xl: 0px 3px 40px rgba(27, 25, 74, 0.1);
$shadow-xxl: 0px 4px 75px rgba(119, 119, 119, 0.15);
