// Отступы
$space-3xs: 2px;
$space-2xs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-2xl: 28px;
$space-3xl: 36px;
$space-4xl: 48px;
$space-5xl: 60px;
$space-6xl: 80px;
$space-7xl: 120px;

// Скругления
$border-radius-s: 4px;
$border-radius-m: 6px;
$border-radius-l: 8px;
$border-radius-xl: 12px;
$border-radius-2xl: 16px;

// Обводка
$border-width-s: 1px;
$border-width-m: 2px;
$border-width-l: 3px;
